<h1> Invoice #<%= @invoice.invoice_number %> </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Invoice Number</th>
      <th>Date</th>
      <th>Address</th>
      <th>City</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</table>
