<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message From A Customer Via www.ottosappliance.com<h1>
    <h3>Customer Name: <%= @name %></h3>
    <h3>Customer Phone Number: <%= @phone %></h3>
    <h3>Customer Email: <%= @email %></h3>
    <H4>Message Contents:</h4>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
