<h1> Directions </h1>

<strong>Starting location </strong>
<div>
<input type="text" id="starting-location" class="form-control"></input>
<button type="button" id="get-directions-button" class="btn btn-default">Get Directions</button>
</div>
<br/>

<div id="google-map"></div>
