<!-- <h1> Otto's Appliance Service Inc. </h1> -->

<div id="home" class="home">

  <div class="text-vcenter">
    <div class="h1-wrapper">
      <h1>Otto's Appliance Service</h1>

      <h3> Since 1957 </h3>
    </div>

  </div>

</div>



<div class="video-home">
  <!-- 16:9 aspect ratio -->
    <video id="example_video_1" class="video-js vjs-default-skin "
      controls preload="auto" width="640" height="264"
      poster="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10687014_10202979866566505_2099718327852753199_n.jpg?oh=e0c4dfe8d6d2d6e1e2b93dd69f180892&oe=54F38B3E&__gda__=1421203563_cbd1816d9bb997a9e7312fd87e576f9f"
      data-setup='{"example_option":true}'>
     <source src="http://cf.c.ooyala.com/J1bjI0cTpletnaKA7_rZR2iUsIWpTyEg/DOcJ-FxaFrRg4gtDEwOjEzYzowazumG4?_=daocht73nmi" type='video/mp4' />
     <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
</div>
