<!-- <h1> Otto's Appliance Service Inc. </h1> -->


<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Otto's Appliance Service Inc.</h1>
    <p class="splash-subhead">
      Serving prompt, reliable appliance repairs since 1957.
    </p>
  </div>
</div>


<div class="content-wrapper home">
  <div class="content video">
    <h2 class="content-head is-center">Welcome.</h2>
    <div class="pure-g">
      <div class="l-box pure-u-3-5">
          <div class="video-home">
            <!-- 16:9 aspect ratio -->
            <video id="example_video_1" class="video-js vjs-default-skin "
              controls preload="auto" width="640" height="264"
              poster="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10687014_10202979866566505_2099718327852753199_n.jpg?oh=e0c4dfe8d6d2d6e1e2b93dd69f180892&oe=54F38B3E&__gda__=1421203563_cbd1816d9bb997a9e7312fd87e576f9f"
              data-setup='{"example_option":true}'>
              <source src="http://cf.c.ooyala.com/J1bjI0cTpletnaKA7_rZR2iUsIWpTyEg/DOcJ-FxaFrRg4gtDEwOjEzYzowazumG4?_=daocht73nmi" type='video/mp4' />
              <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
          </div>
      </div>
      <div class="r-box pure-u-1-3">
        <div class="ottos-info">
          <header class="ottos-info-header">
            <h2 class="ottos-info-h2">Otto's Appliance Service</h2>
          </header>
          <div class="hours">
            <strong>Hours</strong>: 8am - 5pm, Monday - Friday
            (Closed 12-1pm)
          </div>
          <table class="pure-table pure-table contact-info">
            <tbody>
              <tr>
                <td class="contact-td"><i class="fa fa-phone-square fa-3x"></i></td>
                <td class="contact-td"><strong> 650-588-0309 </strong></td>
              </tr>
              <tr>
                <td class="contact-td"><i class="fa fa-envelope-square fa-3x"></i></td>
                <td class="contact-td"><strong> ottosappliance@yahoo.com </strong></td>
              </tr>
              <tr>
                <td class="contact-td"><i class="fa fa-map-marker fa-3x"></i></td>
                <td class="contact-td"><strong> 1663 El Camino Real, Millbrae, CA 94030 </strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
      <img class="pure-img-responsive" alt="File Icons" width="300" src="/img/common/file-icons.png">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
      <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor.
      </p>
    </div>
  </div>
  <div class="footer l-box is-center">
    &copy;Otto's Appliance, Inc. All rights reserved.
  </div>
</div>
